.background-red50 {
    background-color: $red50;
}
.background-red100 {
    background-color: $red100;
}
.background-red200 {
    background-color: $red200;
}
.background-red300 {
    background-color: $red300;
}
.background-red400 {
    background-color: $red400;
}
.background-red500 {
    background-color: $red500;
}
.background-red600 {
    background-color: $red600;
}
.background-red700 {
    background-color: $red700;
}
.background-red800 {
    background-color: $red800;
}
.background-red900 {
    background-color: $red900;
}
.background-redA100 {
    background-color: $redA100;
}
.background-redA200 {
    background-color: $redA200;
}
.background-redA400 {
    background-color: $redA400;
}
.background-redA700 {
    background-color: $redA700;
}

.background-pink50 {
    background-color: $pink50;
}
.background-pink100 {
    background-color: $pink100;
}
.background-pink200 {
    background-color: $pink200;
}
.background-pink300 {
    background-color: $pink300;
}
.background-pink400 {
    background-color: $pink400;
}
.background-pink500 {
    background-color: $pink500;
}
.background-pink600 {
    background-color: $pink600;
}
.background-pink700 {
    background-color: $pink700;
}
.background-pink800 {
    background-color: $pink800;
}
.background-pink900 {
    background-color: $pink900;
}
.background-pinkA100 {
    background-color: $pinkA100;
}
.background-pinkA200 {
    background-color: $pinkA200;
}
.background-pinkA400 {
    background-color: $pinkA400;
}
.background-pinkA700 {
    background-color: $pinkA700;
}

.background-purple50 {
    background-color: $purple50;
}
.background-purple100 {
    background-color: $purple100;
}
.background-purple200 {
    background-color: $purple200;
}
.background-purple300 {
    background-color: $purple300;
}
.background-purple400 {
    background-color: $purple400;
}
.background-purple500 {
    background-color: $purple500;
}
.background-purple600 {
    background-color: $purple600;
}
.background-purple700 {
    background-color: $purple700;
}
.background-purple800 {
    background-color: $purple800;
}
.background-purple900 {
    background-color: $purple900;
}
.background-purpleA100 {
    background-color: $purpleA100;
}
.background-purpleA200 {
    background-color: $purpleA200;
}
.background-purpleA400 {
    background-color: $purpleA400;
}
.background-purpleA700 {
    background-color: $purpleA700;
}

.background-deepPurple50 {
    background-color: $deepPurple50;
}
.background-deepPurple100 {
    background-color: $deepPurple100;
}
.background-deepPurple200 {
    background-color: $deepPurple200;
}
.background-deepPurple300 {
    background-color: $deepPurple300;
}
.background-deepPurple400 {
    background-color: $deepPurple400;
}
.background-deepPurple500 {
    background-color: $deepPurple500;
}
.background-deepPurple600 {
    background-color: $deepPurple600;
}
.background-deepPurple700 {
    background-color: $deepPurple700;
}
.background-deepPurple800 {
    background-color: $deepPurple800;
}
.background-deepPurple900 {
    background-color: $deepPurple900;
}
.background-deepPurpleA100 {
    background-color: $deepPurpleA100;
}
.background-deepPurpleA200 {
    background-color: $deepPurpleA200;
}
.background-deepPurpleA400 {
    background-color: $deepPurpleA400;
}
.background-deepPurpleA700 {
    background-color: $deepPurpleA700;
}

.background-indigo50 {
    background-color: $indigo50;
}
.background-indigo100 {
    background-color: $indigo100;
}
.background-indigo200 {
    background-color: $indigo200;
}
.background-indigo300 {
    background-color: $indigo300;
}
.background-indigo400 {
    background-color: $indigo400;
}
.background-indigo500 {
    background-color: $indigo500;
}
.background-indigo600 {
    background-color: $indigo600;
}
.background-indigo700 {
    background-color: $indigo700;
}
.background-indigo800 {
    background-color: $indigo800;
}
.background-indigo900 {
    background-color: $indigo900;
}
.background-indigoA100 {
    background-color: $indigoA100;
}
.background-indigoA200 {
    background-color: $indigoA200;
}
.background-indigoA400 {
    background-color: $indigoA400;
}
.background-indigoA700 {
    background-color: $indigoA700;
}

.background-blue50 {
    background-color: $blue50;
}
.background-blue100 {
    background-color: $blue100;
}
.background-blue200 {
    background-color: $blue200;
}
.background-blue300 {
    background-color: $blue300;
}
.background-blue400 {
    background-color: $blue400;
}
.background-blue500 {
    background-color: $blue500;
}
.background-blue600 {
    background-color: $blue600;
}
.background-blue700 {
    background-color: $blue700;
}
.background-blue800 {
    background-color: $blue800;
}
.background-blue900 {
    background-color: $blue900;
}
.background-blueA100 {
    background-color: $blueA100;
}
.background-blueA200 {
    background-color: $blueA200;
}
.background-blueA400 {
    background-color: $blueA400;
}
.background-blueA700 {
    background-color: $blueA700;
}

.background-lightBlue50 {
    background-color: $lightBlue50;
}
.background-lightBlue100 {
    background-color: $lightBlue100;
}
.background-lightBlue200 {
    background-color: $lightBlue200;
}
.background-lightBlue300 {
    background-color: $lightBlue300;
}
.background-lightBlue400 {
    background-color: $lightBlue400;
}
.background-lightBlue500 {
    background-color: $lightBlue500;
}
.background-lightBlue600 {
    background-color: $lightBlue600;
}
.background-lightBlue700 {
    background-color: $lightBlue700;
}
.background-lightBlue800 {
    background-color: $lightBlue800;
}
.background-lightBlue900 {
    background-color: $lightBlue900;
}
.background-lightBlueA100 {
    background-color: $lightBlueA100;
}
.background-lightBlueA200 {
    background-color: $lightBlueA200;
}
.background-lightBlueA400 {
    background-color: $lightBlueA400;
}
.background-lightBlueA700 {
    background-color: $lightBlueA700;
}

.background-cyan50 {
    background-color: $cyan50;
}
.background-cyan100 {
    background-color: $cyan100;
}
.background-cyan200 {
    background-color: $cyan200;
}
.background-cyan300 {
    background-color: $cyan300;
}
.background-cyan400 {
    background-color: $cyan400;
}
.background-cyan500 {
    background-color: $cyan500;
}
.background-cyan600 {
    background-color: $cyan600;
}
.background-cyan700 {
    background-color: $cyan700;
}
.background-cyan800 {
    background-color: $cyan800;
}
.background-cyan900 {
    background-color: $cyan900;
}
.background-cyanA100 {
    background-color: $cyanA100;
}
.background-cyanA200 {
    background-color: $cyanA200;
}
.background-cyanA400 {
    background-color: $cyanA400;
}
.background-cyanA700 {
    background-color: $cyanA700;
}

.background-teal50 {
    background-color: $teal50;
}
.background-teal100 {
    background-color: $teal100;
}
.background-teal200 {
    background-color: $teal200;
}
.background-teal300 {
    background-color: $teal300;
}
.background-teal400 {
    background-color: $teal400;
}
.background-teal500 {
    background-color: $teal500;
}
.background-teal600 {
    background-color: $teal600;
}
.background-teal700 {
    background-color: $teal700;
}
.background-teal800 {
    background-color: $teal800;
}
.background-teal900 {
    background-color: $teal900;
}
.background-tealA100 {
    background-color: $tealA100;
}
.background-tealA200 {
    background-color: $tealA200;
}
.background-tealA400 {
    background-color: $tealA400;
}
.background-tealA700 {
    background-color: $tealA700;
}

.background-green50 {
    background-color: $green50;
}
.background-green100 {
    background-color: $green100;
}
.background-green200 {
    background-color: $green200;
}
.background-green300 {
    background-color: $green300;
}
.background-green400 {
    background-color: $green400;
}
.background-green500 {
    background-color: $green500;
}
.background-green600 {
    background-color: $green600;
}
.background-green700 {
    background-color: $green700;
}
.background-green800 {
    background-color: $green800;
}
.background-green900 {
    background-color: $green900;
}
.background-greenA100 {
    background-color: $greenA100;
}
.background-greenA200 {
    background-color: $greenA200;
}
.background-greenA400 {
    background-color: $greenA400;
}
.background-greenA700 {
    background-color: $greenA700;
}

.background-lightGreen50 {
    background-color: $lightGreen50;
}
.background-lightGreen100 {
    background-color: $lightGreen100;
}
.background-lightGreen200 {
    background-color: $lightGreen200;
}
.background-lightGreen300 {
    background-color: $lightGreen300;
}
.background-lightGreen400 {
    background-color: $lightGreen400;
}
.background-lightGreen500 {
    background-color: $lightGreen500;
}
.background-lightGreen600 {
    background-color: $lightGreen600;
}
.background-lightGreen700 {
    background-color: $lightGreen700;
}
.background-lightGreen800 {
    background-color: $lightGreen800;
}
.background-lightGreen900 {
    background-color: $lightGreen900;
}
.background-lightGreenA100 {
    background-color: $lightGreenA100;
}
.background-lightGreenA200 {
    background-color: $lightGreenA200;
}
.background-lightGreenA400 {
    background-color: $lightGreenA400;
}
.background-lightGreenA700 {
    background-color: $lightGreenA700;
}

.background-lime50 {
    background-color: $lime50;
}
.background-lime100 {
    background-color: $lime100;
}
.background-lime200 {
    background-color: $lime200;
}
.background-lime300 {
    background-color: $lime300;
}
.background-lime400 {
    background-color: $lime400;
}
.background-lime500 {
    background-color: $lime500;
}
.background-lime600 {
    background-color: $lime600;
}
.background-lime700 {
    background-color: $lime700;
}
.background-lime800 {
    background-color: $lime800;
}
.background-lime900 {
    background-color: $lime900;
}
.background-limeA100 {
    background-color: $limeA100;
}
.background-limeA200 {
    background-color: $limeA200;
}
.background-limeA400 {
    background-color: $limeA400;
}
.background-limeA700 {
    background-color: $limeA700;
}

.background-yellow50 {
    background-color: $yellow50;
}
.background-yellow100 {
    background-color: $yellow100;
}
.background-yellow200 {
    background-color: $yellow200;
}
.background-yellow300 {
    background-color: $yellow300;
}
.background-yellow400 {
    background-color: $yellow400;
}
.background-yellow500 {
    background-color: $yellow500;
}
.background-yellow600 {
    background-color: $yellow600;
}
.background-yellow700 {
    background-color: $yellow700;
}
.background-yellow800 {
    background-color: $yellow800;
}
.background-yellow900 {
    background-color: $yellow900;
}
.background-yellowA100 {
    background-color: $yellowA100;
}
.background-yellowA200 {
    background-color: $yellowA200;
}
.background-yellowA400 {
    background-color: $yellowA400;
}
.background-yellowA700 {
    background-color: $yellowA700;
}

.background-amber50 {
    background-color: $amber50;
}
.background-amber100 {
    background-color: $amber100;
}
.background-amber200 {
    background-color: $amber200;
}
.background-amber300 {
    background-color: $amber300;
}
.background-amber400 {
    background-color: $amber400;
}
.background-amber500 {
    background-color: $amber500;
}
.background-amber600 {
    background-color: $amber600;
}
.background-amber700 {
    background-color: $amber700;
}
.background-amber800 {
    background-color: $amber800;
}
.background-amber900 {
    background-color: $amber900;
}
.background-amberA100 {
    background-color: $amberA100;
}
.background-amberA200 {
    background-color: $amberA200;
}
.background-amberA400 {
    background-color: $amberA400;
}
.background-amberA700 {
    background-color: $amberA700;
}

.background-orange50 {
    background-color: $orange50;
}
.background-orange100 {
    background-color: $orange100;
}
.background-orange200 {
    background-color: $orange200;
}
.background-orange300 {
    background-color: $orange300;
}
.background-orange400 {
    background-color: $orange400;
}
.background-orange500 {
    background-color: $orange500;
}
.background-orange600 {
    background-color: $orange600;
}
.background-orange700 {
    background-color: $orange700;
}
.background-orange800 {
    background-color: $orange800;
}
.background-orange900 {
    background-color: $orange900;
}
.background-orangeA100 {
    background-color: $orangeA100;
}
.background-orangeA200 {
    background-color: $orangeA200;
}
.background-orangeA400 {
    background-color: $orangeA400;
}
.background-orangeA700 {
    background-color: $orangeA700;
}

.background-deepOrange50 {
    background-color: $deepOrange50;
}
.background-deepOrange100 {
    background-color: $deepOrange100;
}
.background-deepOrange200 {
    background-color: $deepOrange200;
}
.background-deepOrange300 {
    background-color: $deepOrange300;
}
.background-deepOrange400 {
    background-color: $deepOrange400;
}
.background-deepOrange500 {
    background-color: $deepOrange500;
}
.background-deepOrange600 {
    background-color: $deepOrange600;
}
.background-deepOrange700 {
    background-color: $deepOrange700;
}
.background-deepOrange800 {
    background-color: $deepOrange800;
}
.background-deepOrange900 {
    background-color: $deepOrange900;
}
.background-deepOrangeA100 {
    background-color: $deepOrangeA100;
}
.background-deepOrangeA200 {
    background-color: $deepOrangeA200;
}
.background-deepOrangeA400 {
    background-color: $deepOrangeA400;
}
.background-deepOrangeA700 {
    background-color: $deepOrangeA700;
}

.background-brown50 {
    background-color: $brown50;
}
.background-brown100 {
    background-color: $brown100;
}
.background-brown200 {
    background-color: $brown200;
}
.background-brown300 {
    background-color: $brown300;
}
.background-brown400 {
    background-color: $brown400;
}
.background-brown500 {
    background-color: $brown500;
}
.background-brown600 {
    background-color: $brown600;
}
.background-brown700 {
    background-color: $brown700;
}
.background-brown800 {
    background-color: $brown800;
}
.background-brown900 {
    background-color: $brown900;
}

.background-blueGrey50 {
    background-color: $blueGrey50;
}
.background-blueGrey100 {
    background-color: $blueGrey100;
}
.background-blueGrey200 {
    background-color: $blueGrey200;
}
.background-blueGrey300 {
    background-color: $blueGrey300;
}
.background-blueGrey400 {
    background-color: $blueGrey400;
}
.background-blueGrey500 {
    background-color: $blueGrey500;
}
.background-blueGrey600 {
    background-color: $blueGrey600;
}
.background-blueGrey700 {
    background-color: $blueGrey700;
}
.background-blueGrey800 {
    background-color: $blueGrey800;
}
.background-blueGrey900 {
    background-color: $blueGrey900;
}

.background-grey50 {
    background-color: $grey50;
}
.background-grey100 {
    background-color: $grey100;
}
.background-grey200 {
    background-color: $grey200;
}
.background-grey300 {
    background-color: $grey300;
}
.background-grey400 {
    background-color: $grey400;
}
.background-grey500 {
    background-color: $grey500;
}
.background-grey600 {
    background-color: $grey600;
}
.background-grey700 {
    background-color: $grey700;
}
.background-grey800 {
    background-color: $grey800;
}
.background-grey900 {
    background-color: $grey900;
}

.background-black {
    background-color: $black;
}
.background-white {
    background-color: $white;
}

.background-transparent {
    background-color: $transparent;
}
.background-fullBlack {
    background-color: $fullBlack;
}
.background-darkBlack {
    background-color: $darkBlack;
}
.background-lightBlack {
    background-color: $lightBlack;
}
.background-minBlack {
    background-color: $minBlack;
}
.background-faintBlack {
    background-color: $faintBlack;
}
.background-fullWhite {
    background-color: $fullWhite;
}
.background-darkWhite {
    background-color: $darkWhite;
}
.background-lightWhite {
    background-color: $lightWhite;
}
