$iconSize: rem(24);


$mobileGutter: rem(16);
$tabletGutter: rem(24);
$desktopGutter: rem(24);

$mobileToolbarHeight: rem(56);
$tabletToolbarHeight: rem(64);
$desktopToolbarHeight: rem(64);

$leftNavMenuItemWidth: rem(48);
$leftNavMenuItemHeight: rem(48);