.card-header{
    padding: rem(16);
    font-weight: $fontWeightMedium;
    box-sizing: border-box;
    @include display-flex;
}

.card-header-avatar{
    @include flex;
    margin-right: rem(16);
}

.card-header-text{
    @include flex;

}

.card-header-title{
    color: $darkBlack;
    margin: 0 0 0.5rem;
    display: block;
}

.card-header-subtitle{
    color: $lightBlack;
    display: block;
    font-size: rem(14);
}