.icon-button{
    width: rem(56);
    min-width: rem(56);
    height: rem(56);

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: transparent;
    outline: none;
    display: inline-block;

    border: none;
    cursor: pointer;
    position: relative;
}

.icon-button-tap {
    @include button-tap()
}