.bottom-sheet {
    background-color: $fullWhite;
}

.bottom-sheet-content {
    position: relative;
    font-size: rem(16);
    color: $darkBlack;

    .header {
        padding-left: rem(72);
    }
    .list {
        color: $darkBlack;
    }

    .list-item {
        height: rem(48);
        line-height: rem(48);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .font-icon {
            margin-right: rem(32);
            font-size: rem(24);
        }
    }

    hr {
        border: none;
        background-color: $faintBlack;
        margin: 0 0 0 1rem;
        height: 1px;
    }
}

.bottom-sheet-action-button {
    position: absolute;
    right: 0;
    margin-top: -2rem;
}