.list-item {
    @include display-flex;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;

    .list-item-icon {
        padding: 0 rem(16);
        line-height: rem(48);
        height: rem(48);
    }
    .list-item-avatar {
        margin: rem(16) 0 rem(16) rem(16);
    }
    .list-item-avatar-after {
        margin: rem(16) rem(16) rem(16) 0;
    }
}

.list-item-title {
    display: block;
    font-weight: 400;
}
.list-item-subtitle {
    display: block;
    color: $lightBlack;
    font-size: rem(14);
    line-height: rem(20);
}

.list-item-content {
    @include flex(1, 1, auto);
    line-height: rem(24);
    padding: rem(12) rem(16);
    box-sizing: border-box;
}

.list-item-hasicon .list-item-title {
    padding-left: rem(56);
}

.list-item-touchable:hover {
    background-color: rgba(153, 153, 153, 0.2);
}

.list-item-tap {
    @include button-tap();

    &.tap-active {
        border-radius: 0;
    }
}